.userPhoto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.userCard {
    padding: 15px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align:center;
    margin: 20px 15px;
    transition-duration: 0.4s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    text-decoration: none
}

.userCard:hover {
    border: 1px solid #24d6d69f;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.followingButton {
    margin-top: 10px;
}








