.preloader {
    animation-name: RotateLoader;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes RotateLoader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}