.header {
  background-color: #A9A9A9;
  width: 100%;
  max-height: 48px;
}

.headerContent {
  
  width: 100%;
  max-width: 1024px;
  max-height: 48px;
  display: flex;
  margin: 0 auto;
  justify-content:space-between

}

.headerContent img {
  max-height: 48px;

}

.loginBlock {
  align-self:center;
  max-height: 48px;
}

.loginBlock a {
  font-family: 'SourceSansPro';
  color: #e6eaeb;
  text-decoration: none;
  transition-duration: 0.4s;

}

.loginBlock a:hover {
  color: #a8dce9;
  transition-duration: 0.4s;
  
}

.loginBlock button {
  font-family: 'SourceSansPro';
  font-size: 14px;
  color: #e6eaeb;
  background-color: transparent;
  border: none;
  font-weight: bold;
  transition-duration: 0.4s;
  cursor: pointer;
  align-self:flex-end
  
}

.loginBlock button:hover {
  color: #a8dce9
}
