.header {
  grid-area: h;
  background-color: #A9A9A9;

}

.header img {
  width: 60px;
}

.loginBlock {
  float: right;
  color: white;

}

.loginBlock a {
  color: #e6eaeb;
  text-decoration: none;
  transition-duration: 0.4s;
  padding: 10px;
}

.loginBlock a:hover {
  color: #a8dce9;
  
}

.loginBlock button {
  color: #e6eaeb;
  background-color: transparent;
  border: none;
  font-weight: bold;
  transition-duration: 0.4s;
  cursor: pointer
  
}

.loginBlock button:hover {
  /* background-color: */
  color: #a8dce9
}
