
.descriptionBlock {
  display: flex;
  padding: 15px;

}

.descriptionBlock button {
  background-color: transparent;
  cursor: pointer;
  transition-duration: 0.4s;
  font-weight: lighter;
  opacity: .8;
  margin-top: 10px;
  border-width: thin;
}

.descriptionBlock button:hover {
  color: #05c5c5
}

.userAvatar {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  justify-content:flex-start;
  align-items:center
}


.userAvatar img{
  width: 100%;
 max-width: 250px;
 padding-bottom: 5px;
  object-position: center;
  border-radius: 10%;
}

.uploadAvatar label {
  /* object-position: center; */
  transition-duration: 0.4s;
  font-weight: lighter;
  color: black;
  opacity: .6;
}

.uploadAvatar label:hover{
  cursor: pointer;
  color: #05c5c5
}

.userData {

  padding-left: 15px;
  border-left: 1px solid;

  
}

.contacts {
  padding-top: 10px;
}

.editingProfileData {
  padding-left: 15px;
}