
.descriptionBlock {
  display: flex;
  padding: 10px;
}
.descriptionBlock button {
  background-color: transparent;
  cursor: pointer;
  transition-duration: 0.4s;
  font-weight: lighter;
  opacity: .6;
  margin-top: 10px;
  border-width: thin;
}

.descriptionBlock button:hover {
  color: #05c5c5
}

.userAvatar img{
  max-width: 250px;
  padding-right: 50px;
}

.uploadAvatar label {
  margin-left: 60px;
  transition-duration: 0.4s;
    font-weight: lighter;
    opacity: .6;
}

.uploadAvatar label:hover{
  cursor: pointer;
  color: #05c5c5
}


.userData {
  padding-left: 50px;
  border-left: 1px solid
}

.userStatus {
  padding-top: 5px;

}

.contacts {
  padding-top: 10px;
}

.editingProfileData {
  padding-left: 50px;
}