.app-wrapper {
  font-family: 'SourceSansPro';
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  background-color: #F0F0F0;
}

.flex-container {
  display: flex; 
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}


.content {
  max-width: 800px;
  width: 100%;
  position: relative
}


* {
  box-sizing: border-box;
}

.navigation {
  flex: 0 0 auto;
}


.chatPage {
  padding: 5px;
  position: fixed;
  top: 55px;
  right: 320px;
  max-width: 280px;
  width: 100%;

}







