.dialogs {
    display: flex;
    padding: 10px;

}

.dialogsItem a {
    text-decoration: none;
}

.newMessage {
    padding-top: 200px;
    
}
.messages {
    display: flex;
    flex-direction:column;
    margin-left: 100px;
    
}

.message {

    flex: 1 1 auto
}